.reveal .rcolumn {
	margin-left: 50%;
}
.reveal .comment {
	position: fixed;
	bottom: 30px;
	font-size: 14px;
}
.reveal .comment a:link {
	color: grey;
	background-color: white;
}

.reveal section img {
	border: 0;
	box-shadow: none;
}

